{% macro newsCard(obj) %}
    {% set defaultClassNames = 'h-full relative' %}

    {% set card = obj.card %}
    {% set category = obj.category %}
    {% set classNames = obj.classNames is defined ? obj.classNames : defaultClassNames %}

    {% embed "components/content/cards/card.html.twig" with {
        classNames: classNames,
        padding: 'none',
        rounded: 'normal',
        background: 'white',
    } %}

        {% if category is not defined or not category %}
            {% set categories = fn('get_the_terms', card, 'category') %}

            {% if categories[0] is defined and categories[0] %}
                {% set category = categories[0] %}

            {% else %}
                {% set category = fn('get_term', card.custom.category) %}
            {% endif %}

        {% endif %}

        {% block content %}
            {% import "components/typography/typography.html.twig" as typography %}

            <article class="card card--news cursor-pointer group">

                {{ typography.heading({
                    content: card.post_title,
                    title: {
                        size: 3,
                    }
                }) }}

                {% if category %}
                    Category : {{ category.name }}
                {% endif %}

                <a href="{{ fn('get_permalink', card) }}" class="absolute-full"></a>

            </article>

        {% endblock %}

    {% endembed %}
{% endmacro %}
