{% set class = {
    base: '',
    default: {
        size: "base",
        color: "black"
    },
    size: {
        xs : "text-xs",
        sm : "text-sm",
        base : "text-base",
        lg : "text-lg",
        xl : "text-xl"
    },
    weight: {
        bold: "font-bold",
        medium: "font-medium",
        normal: "font-normal"
    },
    color: {
        white: "text-white",
        black: "text-black dark:text-white"
    }
}|mergeClass({
    size,
    weight,
    color
}, className) %}

{% set content = content ?? fields.wysiwyg ?? fields.text %}

{% if content %}
    {% if wysiwyg %}
        <div class="{{ class }}">
            {{ content|raw }}
        </div>
    {% else %}
        <p class="{{ class }}">
            {{ content }}
        </p>
    {% endif %}
{% endif %}
