{% set class = {
    base: "wysiwyg",
    default: {},
    marginBottom: {
        "none": "",
        "small": "mb-4",
        "normal": "mb-6",
        "medium": "mb-8",
        "large": "mb-10"
    },
    marginTop: {
        "small": "mt-4",
        "normal": "mt-6",
        "medium": "mt-8",
        "large": "mt-10"
    }
}|mergeClass({
    marginTop,
    marginBottom
}, className) %}

<div class="wysiwyg {{ class }}">

    {% set headline = {
        title: fields.headline,
        size: "headline",
        className: "mb-2"
    }|merge(headline ?? {}) %}

    {% include "components/typography/heading.html.twig" with headline only %}

    {% set title = {
        title: fields.title,
    }|merge(title ?? {}) %}

    {% include "components/typography/heading.html.twig" with title only %}

    {# Marge selon le level du titre #}
    {% set paragraphMargin = {
        1: "mt-10",
        2: "mt-10",
        3: "mt-10",
        4: "mt-5",
        5: "mt-4",
    } %}

    {% set wysiwyg = {
        content: fields.wysiwyg,
        wysiwyg: true,
        size: "base",
        className: paragraphMargin[title.size]
    }|merge(wysiwyg ?? {}) %}

    {% include "components/typography/text.html.twig" with wysiwyg only %}

    {% set button = {
        btn: fields.button,
        className: "mt-6"
    }|merge(btn ?? {}) %}

    {% include "components/action/buttons/btn.html.twig" with button only %}

</div>
