{% embed "blocks/block.html.twig" %}
    {% block content %}

        {% if fields.media_ratio.ratio == "auto" or not fields.media_ratio.ratio %}
            {% set orientation = "paysage" %}

            {% set image = fields.media.type == "video" ? fields.media.video.thumbnail : fields.media.image %}

            {% if image.height > image.width %}
                {% set orientation = "portrait" %}
            {% endif %}
        {% else %}
            {% set orientation = fields.media_ratio.ratio %}
        {% endif %}

        {% set positions = {
            portrait: {
                right: {
                    text: "lg:row-start-1 lg:col-span-6",
                    media: "max-lg:order-1 lg:col-start-8 lg:col-end-13"
                },
                left: {
                    media: "lg:col-start-1 lg:col-end-6",
                    text: "lg:col-start-7 lg:col-end-13"
                }
            },
            paysage: {
                right: {
                    text: "lg:row-start-1 lg:col-span-5",
                    media: "lg:col-start-7 lg:col-end-13"
                },
                left: {
                    media: "lg:col-span-6",
                    text: "lg:col-start-8 lg:col-end-13"
                }
            }
        } %}

        {% set ratio = "" %}

        {% if fields.media_ratio.has_ratio %}

            {% set ratioFormat = {
                paysage: "aspect-[4/3]",
                portrait: "aspect-square"
            } %}

            {% set ratio = "w-full object-cover " ~ ratioFormat[orientation] %}

        {% endif %}

        <div class="grid items-center gap-10 lg:gap-6 lg:grid-cols-12">

            {% include "components/content/media/media.html.twig" with {
                wrapper: {
                    className: concat("col-span-full", positions[orientation][fields.media_position].media)
                },
                className: ratio
            } %}

            <div class="{{ concat("col-span-full", positions[orientation][fields.media_position].text) }}">

                {% import "components/typography/typography.html.twig" as typography %}
                {{ typography.textGroup({
                    fields,
                    title: {
                        size: 2,
                    },
                }) }}

            </div>

        </div>


    {% endblock %}
{% endembed %}
