{% import "components/typography/typography.html.twig" as typography %}
{% set title = title %}
{% set description = description %}
{% set index = index %}

{# Pour maintenir l'accordéon ouvert lorsque que l'utilisateur clique sur un autre accordéon, il suffit de retirer l'attribut "@click.outside="closeEl($el);".#}
<div class="cursor-pointer" @click.outside="closeEl($el);" @click="openEl($el)" data-index="{{ index }}">
    <div class="flex items-center justify-between gap-4 bg-gray-200 is-active:bg-gray-400 p-6 rounded transition-all select-none">
        {{ typography.heading({
            content: title,
            className: '',
        }) }}
        <div class="is-active:rotate-180 transition-all flex-shrink-0 bg-red-200 w-8 h-8">
            <i class="fa-solid fa-chevron-up"></i>
            {# @TODO verifier que l’anim match avec l’icon #}
        </div>

    </div>

    <div class="max-h-0 overflow-hidden transition-all" x-ref="container{{ index }}">
        {{ typography.text({
            content: description,
            className: 'p-6',
        }) }}
    </div>

</div>
