{% embed "blocks/block.html.twig" %}
    {% block content %}

        {% import "components/typography/typography.html.twig" as typography %}
        {% import "components/action/buttons/btn.html.twig" as button %}

        <div>

            <div>
                {{ typography.heading(fields) }}
                {{ typography.text(fields) }}
            </div>

            {{ button.single(fields) }}

        </div>

    {% endblock %}
{% endembed %}
