<footer class="border-t border-gray-400">
    <div class="container mx-auto py-4">
        <div class="w-full">
            <p class="text-right">Adeliom - &copy; {{"now"|date('Y')}}</p>
        </div>
    </div>
</footer>
