name: Dependabot WordPress Update

on:
  pull_request:
  pull_request_target:
    branches:
      - main
  push:
    branches:
      - main

env:
  THEME: "adeliom"
  PHP_VERSION: "8.1"
  NODE_VERSION: "18"

jobs:
  build:
    uses: agence-adeliom/github-actions/.github/workflows/callable-lumberjack-install.yml@main
    with:
      theme: ${{ env.THEME }}
      php: ${{ env.PHP_VERSION }}
      node: ${{ env.NODE_VERSION }}
    secrets:
      GRAVITYFORMS_KEY: ${{ secrets.GRAVITYFORMS_KEY }}
      ACF_PRO_KEY: ${{ secrets.ACF_PRO_KEY }}

  wordpress-plugins-update:
    needs: [build]
    uses: agence-adeliom/github-actions/.github/workflows/callable-lumberjack-dependabot-update.yml@main
    with:
      php: ${{ env.PHP_VERSION }}
      node: ${{ env.NODE_VERSION }}
    secrets:
      GRAVITYFORMS_KEY: ${{ secrets.GRAVITYFORMS_KEY }}
      ACF_PRO_KEY: ${{ secrets.ACF_PRO_KEY }}
      WEBHOOK_KEY: ${{ secrets.NEWRELIC_API_KEY }}
