name: CI

on:
  pull_request:
  pull_request_target:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    uses: agence-adeliom/github-actions/.github/workflows/callable-lumberjack-install.yml@main
    with:
      theme: "adeliom"
      php: "8.1"
      node: "18"
    secrets:
      GRAVITYFORMS_KEY: ${{ secrets.GRAVITYFORMS_KEY }}
      ACF_PRO_KEY: ${{ secrets.ACF_PRO_KEY }}

  plugins-update:
    needs: [build]
    uses: agence-adeliom/github-actions/.github/workflows/callable-lumberjack-dependabot-update.yml@main
    with:
      php: "8.1"
      node: "18"
    secrets:
      GRAVITYFORMS_KEY: ${{ secrets.GRAVITYFORMS_KEY }}
      ACF_PRO_KEY: ${{ secrets.ACF_PRO_KEY }}
      WEBHOOK_KEY: ${{ secrets.NEWRELIC_API_KEY }}
